<div>
    
    <div class="search-area">
        <div class="selected-datetime"><h1>{{ getDateTimeString() }}</h1></div>
        <ngb-datepicker [(ngModel)]="date" (ngModelChange)="refreshSchedule()"></ngb-datepicker>
        <ngb-timepicker class="timepicker" [(ngModel)]="time" [seconds]="seconds" (ngModelChange)="refreshSchedule()"></ngb-timepicker>
    </div>

    <div class="inspection-line-places">
        <table class="table table-bordered inspection-line-places-table">
            <thead>
                <tr>
                    <th>Vieta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inspectionLinePlace of inspectionLinePlaces()">
                    <td>
                        {{inspectionLinePlace + 1}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="vehicle-schedule">

        <table class="table table-bordered vehicle-schedule-table table-hover-cells">
            <thead>
                <tr>
                    <th *ngFor="let inspectionLine of inspectionLines()">
                        {{inspectionLine + 1}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inspectionLine of vehicleSchedule">
                    <td *ngFor="let vehicle of inspectionLine" (click)="removeVehicle(vehicle)">
                        <div *ngIf="vehicle != null; else emptySpace">{{vehicle.rn}}</div>
                        <ng-template #emptySpace></ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>